@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

* {
    /*Zerar valores e aplicar fonte padrão (Tauri)*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: "Tauri";
}

/*Inicio header*/
header{ 
  background-color: #0476D9;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.Logo{
  width: 9.87rem;

}

ul.header{
  display: flex;
  align-items: center;
}

li.header{
  list-style-type: none;
  margin-left: 1rem;
}
a.header{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

header input{
  height: 2.5rem;
  width: 28rem;
  align-self: center;
  border-radius: 50px;
  border: none;
  margin-left: 2rem;
}
input::placeholder {/*Customizar place holder do input*/
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.5;
  color: black;
  padding-left: 1rem;
}
img.button{/* Imagem Botão Cadastro e Login*/
  height: 40px;
  align-self: center;
  margin-right: 1rem;
  margin-left: 1rem;
}
button.in_out{ /*Botão Login*/
  height: 3rem;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  background-color: #FFD056;
  border: none;
  display: flex;
  margin-left: 3rem;
  cursor: pointer;
}
button.in_out_dois{/*Botão Cadastro*/
  height: 3rem;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  background-color: #FFD056;
  border: none;
  display: flex;
  margin-left: 1rem;
  cursor: pointer;
}
h4.button{/*Texto Botão Cadastro e Login*/
  font-size: 1rem;
  align-self: center;
  margin-right: 1rem;
}
button.carrinho{/*Botão carrinho*/
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 15px;
  align-self: center;
  justify-self: flex-end;
  margin-left: 2rem;
}
img.carrinho{/*Imagem Botão carrinho*/
  width: 3rem;
  height: 3rem;
}
div.button{/*Botoões de Login, Cadastro e Carrinho*/
  display: flex;
  white-space: nowrap;
  align-self: center;
}
/*Vambora pra responsividade XD*/
@media (max-width: 373px) {
  header{
    width: 100%;
  }
}
@media (max-width: 420px) and (min-width: 390px) {
  a.header{
      color: white;
      text-decoration: none;
      font-size: 1.28rem;
  }
  header input{
      height: 2.5rem;
      width: 28rem;
      align-self: center;
      border-radius: 50px;
      border: none;
      margin-left: 2rem;
      margin-top: 1rem;
  }
    button.carrinho{
      width: 2.7rem;
      height: 2.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: white;
      border-radius: 15px;
      align-self: center;
      justify-self: flex-end;
      margin-left: 1rem;
    }
    img.button{
      height: 25px;
      align-self: center;
      margin-right: 1rem;
      margin-left: 1rem;
  }
  h4.button{/*Texto Botão Cadastro e Login*/
      font-size: 1rem;
      align-self: center;
      margin-right: 1rem;
    }
    img.carrinho{/*Imagem Botão carrinho*/
      width: 2rem;
      height: 2rem;
    }
}
@media (max-width: 389px) and (min-width: 350px) {
a.header{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
header input{
    height: 2.5rem;
    width: 28rem;
    align-self: center;
    border-radius: 50px;
    border: none;
    margin-left: 2rem;
    margin-top: 1rem;
}
  button.carrinho{
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    justify-self: flex-end;
    margin-left: 1rem;
  }
  img.button{
    height: 25px;
    align-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
h4.button{/*Texto Botão Cadastro e Login*/
    font-size: 1rem;
    align-self: center;
    margin-right: 1rem;
  }
  img.carrinho{/*Imagem Botão carrinho*/
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 929px){
button.carrinho{/*Botão carrinho*/
  margin-left: 1rem;
}
button.in_out{ /*Botão Login*/
  margin-left: 1rem;
}
header input{
  margin-top: 1rem;
}
div.button{
  margin-top: 1rem;
}
}
/*Inicio footer*/
footer {
  background-color: #0476D9;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img.Rede_Social {
  width: 4rem;
  margin-left: 4rem;
}

div.Logos {
  display: flex;
  justify-content: space-evenly;
}

img.Rede_Social {
  width: 5rem;
}

h3.footer,
h2.footer {
  text-align: center;
  color: #FFFFFF;
}

ul.footer {
  list-style: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

li.footer {
  margin-right: 5rem;
}

.ultimo {
  margin-right: 5rem;
}

.penultimo {
  margin-right: 5rem;
}

a.footer {
  text-decoration: none;
}

div.anchors {
  display: flex;
}

@media (min-width: 1000px) {}

@media (max-width: 900px) and (min-width:701px) {
  ul.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.anchors {
    justify-self: center;
    margin-top: 0.5rem;
  }
}

@media (max-width: 700px) and (min-width:500px) {}

@media (min-width : 350px) and (max-width: 400px) {
  ul.footer {
    justify-content: center;
  }

  h2.footer {
    font-size: 1rem;
  }

  li.footer {
    width: 2rem;
    display: flex;
    justify-content: center;
  }

  .ultimo {
    margin-right: 0px;
  }

  .penultimo {
    margin-right: 0px;
  }

  div.anchors {
    justify-self: center;
    margin-top: 0.5rem;
  }

  img.Rede_Social {
    width: 4rem;
    margin-left: 4rem;
  }
}

@media (max-width: 450px) and (min-width:400px) {
  ul.footer {
    justify-content: center;
  }

  h2.footer {
    font-size: 1rem;
  }

  li.footer {
    width: 2rem;
    display: flex;
    justify-content: center;
  }

  .ultimo {
    margin-right: 0px;
  }

  .penultimo {
    margin-right: 0px;
  }

  div.anchors {
    justify-self: center;
    margin-top: 0.5rem;
  }

  img.Rede_Social {
    width: 4rem;
    margin-left: 4rem;
  }
}

/*Fim Fotter*/
/*caixas*/
.caixa0{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 1rem;
    }
.caixa1{
    width: 10rem;
    height: 500px;
    background-color: none;
    border: 5px solid black;
    border-radius: 20px;
    padding: 1rem;
    flex-grow: 0.2;
}
.caixa2{
    width: 80rem;
    height: 120vh;
    height: auto;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 1;
}

.itens{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.itens div.linha1,.itens div.linha2 , .itens div.linha3{
    width: 100%;
    min-height: 50%;
    height: auto;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.linha1 div.item1,.linha1 div.item2,.linha1 div.item3, .linha2 div.item4,.linha2 div.item5,.linha2 div.item6.linha3 div.item7,.linha3 div.item8,.linha3 div.item9{
    width: 300px;
    height: 500px;
}

/*Início filtros*/
.caixafiltro{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imglog {
    align-items: center;
    width: 150px;
    height: 50px;
}
.Card{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 2px solid rgb(0, 0,0,0.08);
    border-radius: 10px;
    transition-duration: 0.5s;
}
.Card:hover{
    transform: translateY(-10px);
}
.Imagem_container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
.Imagem a{
    width: 100%;
    height: 100%;
    display: flex;
}
.Imagem a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.Nome_Produto,.preco{
    text-align: center
}
.Nome_Produto{
    font-size: 2rem;
    flex-wrap: wrap;
}
.preco{
    font-size: 1.5rem;
}
.primeiro{
    margin-top: 0.3rem;
}
div.Comprar_Agora{
    background-color: #FFD056;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
h2.Comprar_Agora{
    text-align: center;
    padding: 0.7rem;
    cursor: pointer;
}
button.Comprar_Agora{
    border: none;
    background-color: transparent;
    border-radius: 25px;
    width: 100%;
}
.vermais{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 0.2;
    text-align: center;
}
.btnvermais{
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #FFD056;
    font-weight: 600;
    font-size: 15px;
}
button:hover{
    transition: all 0.5s ease 0s;
    filter: brightness(80%);
}

.imglog {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.lista0 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista1 {
    background-color: #eee;
    padding: 5px;
    border-radius: 10px;
}

.lista2 {
    display: flex;
    align-items: center;
    padding: 5px;
}

.lista2 input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilo quando o checkbox está marcado */
.lista2 input[type="checkbox"]:checked + label {
    font-weight: bold;
    color:#0476D9;
}

/* Estilo do label quando o mouse passa por cima */
.lista2 label:hover {
    text-decoration: underline;
    cursor: pointer;
}
a{
  text-decoration: none;
}
.imagem_selo {
  position: absolute;
  bottom: 5%;
  left: 5%;
  height: auto;
  width: 30%;
  z-index: 1;
}
.imagem_selodesc {
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: auto;
  width: 30%;
  z-index: 1;
}
